<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UK Election Results</title>
  <link rel="stylesheet" href="./styles/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Reith:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<button class="text-white" onclick="showAdminPanel()">Override</button>
    <div id="uk-results" class="p-6 max-w-4xl mx-auto"> 
      <h1 class="text-2xl font-bold my-8">UK General Election Results</h1>
      
      <div id="uk-highcharts"></div>

      <div v-if="loading" class="text-center text-gray-500">
        Loading overall election results...
      </div>
  
      <div v-if="error" class="text-red-500 text-center">
        {{ error }}
      </div>
  
      <div v-if="!loading && !error" class="grid grid-cols-6 mb-8 mx-2">      
        <div v-for="result in results" :key="result.party" class="flex flex-col font-bold items-center" :style="{ backgroundColor: getPartyColour(result.partyCode).background}">
          <div class="px-4 py-2" :style="{ color: getPartyColour(result.partyCode).text }">{{ result.partyCode }}</div>
          <div  class="px-4 py-2 w-full text-center" :style="{ backgroundColor: getPartyColour(result.partyCode).lightBackground }">{{ result.seats }}</div>
        </div>
      </div>
      

  <div class="flex space-x-3 items-end">
    <div>
      <select class="border-2 w-48 p-2 truncate" onchange="filterConstituencies(this)" id="region-select">
        <option value="">Select Region</option>
      </select>
    </div>
    <div>
      <select class="border-2 w-72 p-2 truncate" id="constituency-select">
        <option value="">Select Constituency</option>
      </select>
    </div>

    <div>
      <input class="border-2 w-[275px] p-2" type="text" id="constituency-search" placeholder="Start typing a constituency name..." autocomplete="off">
    </div>
    <div class="border-2 p-2 text-gray-500 cursor-pointer hover:underline" onclick="clearResults()">
      Clear 
    </div>
  </div>

  <div id="results-container" class="hidden">
    <h2 id="constituency-name" class="text-lg font-semibold mt-8 mb-3"></h2>

    <table class="w-full mt-2 text-center text-sm">
      <thead class="bg-gray-100">
        <tr class="divide-x">
          <th class="font-medium px-4 py-3">Party</th>
          <th class="font-medium px-4 py-3">Candidate Name</th>
          <th class="font-medium px-4 py-3">Votes</th>
          <th class="font-medium px-4 py-3">% Share</th>
        </tr>
      </thead>
      <tbody id="results-table-body" class="divide-y">
      </tbody>
    </table>
    <p class="text-sm mt-5">Turnout: <span id="turnout"></span></p>
  </div>
  <div id="admin-form" class="hidden p-4 border rounded-md my-4">
    <h3 class="text-lg font-bold mb-2">Admin Override</h3>
    <label for="admin-gssid" class="block mb-2">Constituency GSSID:</label>
    <input id="admin-gssid" type="text" class="w-full p-2 border rounded-md mb-4" placeholder="Enter GSSID">
    
    <label for="admin-override" class="block mb-2">Override Data (JSON):</label>
    <div class="italic">{
      "name": "Example Constituency",
      "turnout": 70,
      "results": [
        { "partyCode": "LAB", "candidateName": "John Doe", "partyName": "Labour", "votes": 10000, "share": 50 },
        { "partyCode": "CON", "candidateName": "John Doe", "partyName": "Conservative", "votes": 8000, "share": 40 }
      ]
    }</div>
    <textarea id="admin-override" rows="6" class="w-full p-2 border rounded-md mb-4"></textarea>
    
    <div class="flex justify-between">
      <button id="apply-override" class="bg-blue-500 text-white px-4 py-2 rounded-md">Apply Override</button>
      <button class="ml-3 bg-blue-500 text-white px-4 py-2 rounded-md" onclick="hideAdminPanel()">Hide override form</button>
     </div> 
  </div>

  <canvas id="myCanvas" width="400" height="400"></canvas>

  <script src="./scripts/highcharts-bar.js"></script>
  <script src="./scripts/uk-results.js"></script>
  <script src="./scripts/main.js"></script>
</body>
</html>
