@font-face {
    font-family: 'Reith';
    src: url('https://fonts.bbc.co.uk/reith/Reith-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  
  body {
    font-family: 'Reith', sans-serif;
  }


  