@font-face {
    font-family: 'Reith';
    src: url('BBCReithSans_W_Rg.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  
  body {
    font-family: 'Reith', sans-serif;
  }

  


  